html {
  font-size: 14px;
}

@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

.btn:focus, .btn:active:focus, .btn-link.nav-link:focus, .form-control:focus, .form-check-input:focus {
  box-shadow: 0 0 0 0.1rem white, 0 0 0 0.25rem #258cfb;
}

html {
  position: relative;
  min-height: 100%;
}

body {
  margin-bottom: 60px;
}

 body {
     font-size: .875rem;
 }

.sidebar {
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    z-index: 100;
    padding: 48px 0 0; /* Height of navbar */
    box-shadow: inset -1px 0 0 rgba(0, 0, 0, .1);
}

.sidebar-sticky {
    position: relative;
    top: 0;
    height: calc(100vh - 48px);
    padding-top: .5rem;
    overflow-x: hidden;
    overflow-y: auto;
}

.nav-link {
    font-weight: 500;
    color: #333;
}

.nav-link.active {
    color: #007bff;
}

/* Main navbar */
.navbar-brand {
    padding-top: .75rem;
    padding-bottom: .75rem;
    font-size: 1rem;
    background-color: rgba(0, 0, 0, .25);
    box-shadow: inset -1px 0 0 rgba(0, 0, 0, .25);
}

.navbar .navbar-toggler {
    top: .25rem;
    right: 1rem;
}
.nav-flex-column {
    display: flex;
    flex-direction: column;
    padding: 3rem 1rem 1rem 1rem;
}
.navbar-dark .navbar-nav .nav-link.btn-link {
    color: rgba(255, 255, 255, 0.75);
    transition: color .15s ease-in-out;
}

.navbar-dark .navbar-nav .nav-link.btn-link:hover {
    color: #fff;
}

/* Removes the default blue glow (focus ring) from the link button */
.navbar-dark .navbar-nav .nav-link.btn-link:focus {
    box-shadow: none;
}

