<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-m" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - Firmeza Admin</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    
    <style>
        body {
            font-size: .875rem;
        }

        .sidebar {
            position: fixed;
            top: 0;
            bottom: 0;
            left: 0;
            z-index: 100;
            padding: 48px 0 0; /* Height of navbar */
            box-shadow: inset -1px 0 0 rgba(0, 0, 0, .1);
        }

        .sidebar-sticky {
            position: relative;
            top: 0;
            height: calc(100vh - 48px);
            padding-top: .5rem;
            overflow-x: hidden;
            overflow-y: auto;
        }

        .nav-link {
            font-weight: 500;
            color: #333;
        }

        .nav-link.active {
            color: #007bff;
        }
        
        /* Main navbar */
        .navbar-brand {
            padding-top: .75rem;
            padding-bottom: .75rem;
            font-size: 1rem;
            background-color: rgba(0, 0, 0, .25);
            box-shadow: inset -1px 0 0 rgba(0, 0, 0, .25);
        }
        
        .navbar .navbar-toggler {
            top: .25rem;
            right: 1rem;
        }
        .nav-flex-column {
            display: flex;
            flex-direction: column;
            padding: 3rem 1rem 1rem 1rem;
        }
        .navbar-dark .navbar-nav .nav-link.btn-link {
            color: rgba(255, 255, 255, 0.75); /* Bootstrap's standard light link color */
            transition: color .15s ease-in-out;
        }

        .navbar-dark .navbar-nav .nav-link.btn-link:hover {
            color: #fff; /* White on hover */
        }

        /* Removes the default blue glow (focus ring) from the link button */
        .navbar-dark .navbar-nav .nav-link.btn-link:focus {
            box-shadow: none;
        }
    </style>
</head>
<body>

<header class="navbar navbar-dark sticky-top bg-dark flex-md-nowrap p-0 shadow">
    <a class="navbar-brand col-md-3 col-lg-2 me-0 px-3" href="#">Firmeza Admin Panel</a>
    <button class="navbar-toggler position-absolute d-md-none collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#sidebarMenu" aria-controls="sidebarMenu" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>
    
    <div class="navbar-nav">
        <div class="nav-item text-nowrap">
            <partial name="_LoginPartial" /> 
        </div>
    </div>
</header>

<div class="container-fluid">
    <div class="row">
        <nav id="sidebarMenu" class="col-md-3 col-lg-2 d-md-block bg-light sidebar collapse">
            <div class="position-sticky pt-3 sidebar-sticky">
                
                <ul class="nav-flex-column">
                    <li class="nav-item">
                        <a class="nav-link active" asp-page="/Index">
                            Dashboard (Inicio)
                        </a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" asp-page="/Products/Index">
                            Productos
                        </a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" asp-page="/Clients/Index">
                            Clientes
                        </a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" asp-page="/Sales/Index">
                            Ventas
                        </a>
                    </li>
                </ul>
            </div>
        </nav>

        <main class="col-md-9 ms-sm-auto col-lg-10 px-md-4">
            <div class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pt-3 pb-2 mb-3 border-bottom">
                <h1 class="h2">@ViewData["Title"]</h1>
            </div>

            @RenderBody()
        </main>
    </div>
</div>

<script src="~/lib/jquery/dist/jquery.min.js"></script>
<script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
<script src="~/js/site.js" asp-append-version="true"></script>

@await RenderSectionAsync("Scripts", required: false)
</body>
</html>